:root{
    --main-bg-color: #ccdaf1;
    --border-color: #0288d147;
    --container-width: 500px;
}


body,html{
    font-family: system-ui;
    background : var(--main-bg-color);
    height:100%;
    padding:0;
    margin:0;
    overflow: hidden;
}
body , .drop-zone , .upload-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.upload-container{
    background: #ffffff;
    border-radius: 25px;
    box-shadow: 0px 20px 20px #0000002e;
}
.drop-zone{
    width:var(--container-width);
    min-height:200px;
    border:2px dashed var(--border-color);
    margin:30px;
    border-radius: 10px;
    display:flex;
    transition: all .2s ease;
}
body{
    flex-direction: row;
}

.dragged.drop-zone {
    background: var(--main-bg-color);
    border-color: #2196f3;
}
.icon-container{
    width: 75px;
    position: relative;
    height: 100px;
}
.icon-container img{
    width:75px;
    position:absolute;
    transform-origin: bottom;
    transition: transform 250ms ease-in-out;

}
.icon-container .center{
    z-index : 2;
}
.icon-container .right , .icon-container .left{
    filter: grayscale(0.3);
    transform: scale(0.9);
}
.dragged .icon-container .right{
    transform:rotate(10deg) translateX(20px) scale(0.9);
}
.dragged .icon-container .left{
    transform:rotate(-10deg) translateX(-20px) scale(0.9);
}

.dragged .icon-container .center{
    transform:translateY(-5px);
}

#fileInput{
    display: none;
}

.browseBtn{
    color: #2196f3;
    cursor: pointer;
}

.progress-container{
    display:none;
    width: var(--container-width);
    height: 70px;
    border:2px solid var(--main-bg-color);
    margin-bottom: 25px;
    border-radius: 10px;
    position: relative;
}

.progress-container .bg-progress{
    background-color: var(--main-bg-color);
    width: 0;
    height:100%;
    /* transform: scaleX(0); */
    
    transition: width 0.25s linear;
    position : absolute;

}

.progress-container .inner-container{
    position: absolute;
    z-index: 1;
    margin:10px 15px;
    width: calc(100% - 30px);
}
.percent-container{
    font-size: 13px;
    
}
.progress-bar{
    height:3px;
    width:100%;
    background-color: #03a9f4;
    margin-top: 4px;
    border-radius: 5px;
    transform-origin: left;
    transform: scaleX(0);
    transition: width 0.25s linear;
}
.sharing-container{
    width: var(--container-width);
    margin:20px;
}
p{
    opacity : 0.7;
    text-align: center;
}
.sharing-container .input-container {
    position : relative;
}
.sharing-container .input-container input{
    width: var(--container-width);
    border: 2px dashed var(--border-color);
    border-radius: 3px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-size: 15px;
    background: #f5fcff; 
    color:#0000008c;

}
.input-container i{
    position:absolute;
    width:30px;
    right:7px;
    top:12px;
    background: #f7fdff;
    cursor: pointer;
    color:#0000008c;
}

.email-container{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.email-container form{
    width:100%;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    padding: 15px;
    display:flex;
    align-items: center;
    flex-direction: column;
}
.email-container .field{
    display : flex;
    justify-content: space-between;
    margin:5px;
    width:400px;
    padding-bottom: 15px;

}

.email-container label{
    font-size: 18px;
}

.email-container input{
    font-size: 18px;
    border: none;
    border-bottom: 2px solid var(--border-color);
    /* text-align: center; */
}
.email-container input:focus{
    outline:none;
}
#sendBtn{
    color:#5f6263;
    width:90px;
    padding:8px;
    background: #EBF3FF;
    border:none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
} 
.toast{
    /* display:none; */
    background: #03a9f4;
    transform: translateY(70px);
    color:#f5fcff;
    position: absolute;
    bottom: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: transform ease-in-out 0.2s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.bg-photo{
    background: url(./undraw_asset-selection_jrie.svg) no-repeat center;
    background-size: contain;
    height:50vh;
    width:50vw;
}

@media screen and (max-width: 900px){
    :root{
        --container-width:320px;
    }
    .bg-photo{
        display: none;
    }
    .email-container .field{
        flex-direction: column;
        width: 300px;
    }
}